<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--metatextblock-->
    <title>Оплата программы 'Ребёнок. Отношения без конфликтов'</title>
    <meta name="description" content="страница оплаты"/>
    <link rel="canonical" href="http://happywomanpro.ru/oplata_vozrozhdenie">

    <meta property="og:url" content="http://tobehappy24.ru/consult"/>
    <meta property="og:title" content="Оплата программы 'Ребёнок. Отношения без конфликтов'"/>
    <meta property="og:description" content="страница оплаты"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image"
          content="../../static/img/shortcut_icon.png"/>

    <!--/metatextblock-->

    <meta property="fb:app_id" content="257953674358265"/>

    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://tilda.ws">
    <link rel="dns-prefetch" href="https://static.tildacdn.com">


    <link rel="shortcut icon" href="../../static/img/shortcut_icon.png" type="image/x-icon"/>


    <link rel="apple-touch-icon"
          href="https://static.tildacdn.com/tild3332-3561-4663-b832-396363376365/20170405_041404.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://static.tildacdn.com/tild3332-3561-4663-b832-396363376365/20170405_041404.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://static.tildacdn.com/tild3332-3561-4663-b832-396363376365/20170405_041404.png">
    <link rel="apple-touch-startup-image"
          href="https://static.tildacdn.com/tild3332-3561-4663-b832-396363376365/20170405_041404.png">
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://tilda.ws/project94000/tilda-blocks-2.12.css?t=1571925075" type="text/css"
          media="all"/>

    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css"
          media="all"/>


    <!--    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>-->
    <script src="../../static/js/jquery_3-4-1.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js"></script>
    <script src="https://tilda.ws/project94000/tilda-blocks-2.7.js?t=1571925075"></script>

    <script src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8"></script>
    <!--    <script src="https://static.tildacdn.com/js/tilda-forms-1.0.min.js" charset="utf-8"></script>-->


    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>


</head>

<body class="t-body" style="margin:0;">

<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="94000"
     data-tilda-page-id="1891119" data-tilda-page-alias="oplata_vozrozhdenie"
     data-tilda-formskey="accbea504a5fc09091811505efc7593a">

    <div id="rec76812863" class="r t-rec" style=" " data-animationappear="off" data-record-type="698">
        <!-- t698 -->
        <!-- cover -->


        <div class="t-cover" id="recorddiv76812863" bgimgfield="img"
             style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">

            <div class="t-cover__carrier" id="coverCarry76812863" data-content-cover-id="76812863"
                 data-content-cover-bg="../../static/img/feedback-bg.jpg" data-content-cover-height="100vh"
                 data-content-cover-parallax=""
                 style="background-image:url('../../static/img/feedback-bg.jpg');height:100vh;background-attachment:scroll; "></div>

            <div class="t-cover__filter"
                 style="height:100vh;background-color:#0d010a;filter: alpha(opacity:70); KHTMLOpacity: 0.70; MozOpacity: 0.70; opacity: 0.70;"></div>
            <div class="t698">
                <div class="t-container ">
                    <div class="t-width t-width_8 t698__mainblock">
                        <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                            <div class="t698__mainwrapper" data-hook-content="covercontent">
                                <div class="t698__title t-title t-title_xs" style="" field="title">Забронировать участие
                                    в курсе <br/> "Ребёнок. Отношения без конфликтов" <br/></div>
                                <div class="t698__descr t-descr t-descr_md" style="" field="descr">
                                    <div style="font-size:20px;color:#1E90FF;" data-customstyle="yes">Заполните все поля
                                        без ошибок, чтобы я смогла с вами быстро связаться<br/>и обсудить детали брони!
                                    </div>
                                </div>
                                <div>


                                    <form>
                                        <div class="t-form__inputsbox">


                                            <div class="t-input-group t-input-group_ph"
                                                 data-input-lid="1495646545048">
                                                <div class="t-input-block">
                                                    <!--                                                        <input type="tel" name="Phone" class="t-input js-tilda-rule  "-->
                                                    <input type="tel" name="Phone" class="t-input js-tilda-rule  "
                                                           value=""
                                                           placeholder="380********* / 7**********  "
                                                           data-tilda-req="1"
                                                           data-tilda-rule="phone" pattern="[0-9]*"
                                                           style="color:#000000;  background-color:#ffffff; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px;">
                                                    <div class="t-input-error"></div>
                                                </div>
                                            </div>


                                            <div class="t-input-group t-input-group_nm"
                                                 data-input-lid="1495646567135">
                                                <div class="t-input-block">
                                                    <input type="text" name="Name" class="t-input js-tilda-rule "
                                                           value="" placeholder="Имя и Фамилия" data-tilda-req="1"
                                                           data-tilda-rule="name"
                                                           style="color:#000000;  background-color:#ffffff; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px;">
                                                    <div class="t-input-error"></div>
                                                </div>
                                            </div>


                                            <div class="t-input-group t-input-group_rd"
                                                 data-input-lid="1543320047994">
                                                <div class="t-input-title t-descr t-descr_md"
                                                     data-redactor-toolbar="no"
                                                     field="li_title__1543320047994" style="">Выберите мессенжер для
                                                    связи
                                                </div>
                                                <div class="t-input-block">
                                                    <input type="hidden"
                                                           class="t-checkboxes__hiddeninput js-tilda-rule"
                                                           name="Выберите мессенжер для связи" tabindex="-1"
                                                           value=""
                                                           data-tilda-req="1">
                                                    <div class="t-checkboxes__wrapper">
                                                        <label class="t-checkbox__control t-text t-text_xs"
                                                               style=""><input type="checkbox" value="WhatsApp"
                                                                               class="t-checkbox"
                                                                               data-tilda-req="1">
                                                            <div class="t-checkbox__indicator"></div>
                                                            WhatsApp</label>
                                                        <label class="t-checkbox__control t-text t-text_xs"
                                                               style=""><input type="checkbox" value="Telegram"
                                                                               class="t-checkbox"
                                                                               data-tilda-req="1">
                                                            <div class="t-checkbox__indicator"></div>
                                                            Telegram</label>
                                                        <label class="t-checkbox__control t-text t-text_xs"
                                                               style=""><input type="checkbox" value="Viber"
                                                                               class="t-checkbox"
                                                                               data-tilda-req="1">
                                                            <div class="t-checkbox__indicator"></div>
                                                            Viber</label>
                                                    </div>
                                                    <script>

                                                        $(document).ready(function () {
                                                            function t_input_checkboxes_updateval(recid, lid) {
                                                                var qel = $('#rec' + recid).find('[data-input-lid="' + lid + '"]');
                                                                var val = "";
                                                                qel.find('.t-checkbox:checked').each(function () {
                                                                    if (val != "") {
                                                                        val += "; ";
                                                                    }
                                                                    val += $(this).val();
                                                                });
                                                                qel.find('.t-checkboxes__hiddeninput').val(val);
                                                            }

                                                            function t_input_checkboxes_init(recid, lid) {
                                                                var qel = $('#rec' + recid).find('[data-input-lid="' + lid + '"]');
                                                                qel.find('.t-checkbox__control').click(function () {
                                                                    t_input_checkboxes_updateval(recid, lid);
                                                                });
                                                                t_input_checkboxes_updateval(recid, lid);
                                                            }

                                                            t_input_checkboxes_init('76812863', '1543320047994');
                                                        });

                                                    </script>
                                                    <div class="t-input-error"></div>
                                                </div>
                                            </div>


                                            <!--[if IE 8]>
                                            <style>

                                                .t-checkbox__control .t-checkbox, .t-radio__control .t-radio {
                                                    left: 0px;
                                                    z-index: 1;
                                                    opacity: 1;
                                                }

                                                .t-checkbox__indicator, .t-radio__indicator {
                                                    display: none;
                                                }

                                                .t-img-select__control .t-img-select {
                                                    position: static;
                                                }

                                            </style>
                                            <![endif]-->


                                            <div class="t-form__errorbox-middle">
                                                <div class="js-errorbox-all t-form__errorbox-wrapper"
                                                     style="display:none;">
                                                    <div class="t-form__errorbox-text t-text t-text_md">
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email">
                                                            Пожалуйста, укажите корректную почту</p>
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone">
                                                            Пожалуйста, укажите корректный номер телефона</p>
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--                                                <div class="t-form__submit">-->
                                            <div class="submit_form">
                                                <button onclick="sendingData()" type="submit" class="t-submit"
                                                        style="color:#ffffff;background-color:#1E90FF;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;font-family:Roboto;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);">
                                                    ОТПРАВИТЬ
                                                </button>
                                            </div>

                                        </div>
                                    </form>

                                    <div class="t-form__errorbox-bottom">
                                        <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                            <div class="t-form__errorbox-text t-text t-text_md">
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-email">
                                                    Пожалуйста, укажите корректную почту</p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-phone">
                                                    Пожалуйста, укажите корректный номер телефона</p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                            </div>
                                        </div>
                                    </div>


                                    <style>
                                        #rec76812863 input::-webkit-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec76812863 input::-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec76812863 input:-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec76812863 input:-ms-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec76812863 textarea::-webkit-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec76812863 textarea::-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec76812863 textarea:-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec76812863 textarea:-ms-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }
                                    </style>

                                </div>
                                <!--                                <div class="t698__form-bottom-text t-text t-text_xs" field="text">Заполняя персональные данные, вы соглашаетесь с политикой конфиденциальности</div>        </div>-->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--            <script type="text/javascript">-->

            <!--                $('#rec76812863').find('.js-form-proccess').on('tildaform:aftererror', function (e) {-->
            <!--                    e.preventDefault();-->
            <!--                    t698_fixcontentheight('76812863');-->
            <!--                });-->
            <!--                $('.t698').bind('displayChanged', function () {-->
            <!--                    t698_fixcontentheight('76812863');-->
            <!--                });-->

            <!--            </script>-->


            <style>

                #rec76812863 .t-btn[data-btneffects-first],
                #rec76812863 .t-btn[data-btneffects-second],
                #rec76812863 .t-submit[data-btneffects-first],
                #rec76812863 .t-submit[data-btneffects-second] {
                    position: relative;
                    overflow: hidden;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }


            </style>


            <script type="text/javascript">

                $(document).ready(function () {


                });

            </script>
        </div>


        <div id="rec76815240" class="r t-rec t-rec_pt_30 t-rec_pb_15"
             style="padding-top:30px;padding-bottom:15px;background-color:#A9A9A9; " data-record-type="37"
             data-bg-color="#A9A9A9">
            <!-- T022 -->
            <div class="t022 t-align_center">
                <div class="t-container">
                    <div class="t-row">
                        <div class="t-col t-col_6 t-prefix_3">
                            <div class="t022__text t-text t-text_sm" style="" field="text">
                                <div style="font-size:22px;color:#000080;" data-customstyle="yes">Если вдруг вы не
                                    можете отправить свои данные через форму выше, то просто напишите мне сообщение
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="rec76815375" class="r t-rec t-rec_pt_30 t-rec_pb_45"
             style="padding-top:30px;padding-bottom:45px;background-color:#A9A9A9; " data-record-type="191"
             data-bg-color="#A9A9A9">
            <!-- T142 -->
            <div class="t142">
                <div class="t-container_100">
                    <div class="t142__wrapone">
                        <div class="t142__wraptwo">
                            <a href="https://www.facebook.com/profile.php?id=100008388493358" target="_blank" class="">
                                <div class="t-btn t142__submit t142__submit_size_lg"
                                     style="color:#1E90FF;background-color:#fcf9f9;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                    Написать
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <script type="text/javascript">
                $(document).ready(function () {
                    t142_checkSize('76815375');
                });
                $(window).load(function () {
                    t142_checkSize('76815375');
                });
            </script>


            <style>

                #rec76815375 .t-btn[data-btneffects-first],
                #rec76815375 .t-btn[data-btneffects-second],
                #rec76815375 .t-submit[data-btneffects-first],
                #rec76815375 .t-submit[data-btneffects-second] {
                    position: relative;
                    overflow: hidden;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }

                @media screen and (max-width: 320px) {
                    .t-cover, .t-cover__carrier, .t-cover__filter, .t-cover__wrapper {
                        height: 130vh!important;
                    }
                }


            </style>


            <script type="text/javascript">

                $(document).ready(function () {


                });

            </script>
        </div>


        <script type="text/javascript">

            if (!window.mainTracker) {
                window.mainTracker = 'tilda';
            }


            (function (d, w, k, o, g) {
                var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
                    n.parentNode.insertBefore(s, n);
                };
                s.type = "text/javascript";
                s.async = true;
                s.key = k;
                s.id = "tildastatscript";
                s.src = g;
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, '135a34b59946ee7b58f2aebbfff0075c', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');


        </script>

        <script>
            function objectifyForm(formArray) {//serialize data function

                let returnArray = {};
                for (let i = 0; i < formArray.length; i++) {
                    returnArray[formArray[i]['name']] = formArray[i]['value'];
                }
                return returnArray;
            }

            function sendingData() {
                // $('form').submit(function (e) {
                let http = new XMLHttpRequest();
                let data = $('form').serializeArray();
                data = objectifyForm(data);
                let post_data = JSON.stringify(data);
                http.open("POST", '/submit_form', true);
                http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                // http.setRequestHeader('Content-type', "application/x-www-form-urlencoded");
                http.onreadystatechange = function () {//Call a function when the state changes.
                    if (http.readyState == 4 && http.status == 200) {
                        alert(http.responseText);
                    }
                };
                http.send(post_data);
                // });
            }
        </script>

</body>
</html>
